<div class="races-wrapper">
  <h2> New Race </h2>
  <div class="container-fluid">
      <div class="panel panel-primary">
          <div class="panel-heading">Data</div>
          <div class="panel-body">
              <div class="row">
                  <div class="col-md-12">
                    <form name="reviewForm" ng-controller="RaceReviewController as raceReviewCtrl"
                            ng-submit="reviewForm.$valid && raceReviewCtrl.addReview(race)">
                      <div class="input-group">
                        <label class="input-group-addon">Name :</label>
                        <input class="form-control ng-dirty" name="name" ng-model="raceReviewCtrl.race.name" type="text" required/>
                      </div>
                      <div class="input-group">
                        <label class="input-group-addon">Distance :</label>
                        <input class="form-control ng-dirty" name="distance" ng-model="raceReviewCtrl.race.distance" type="number" min="1" />

                        <label class="input-group-addon">Duration :</label>
                        <input class="form-control ng-dirty" name="duration" ng-model="raceReviewCtrl.race.duration" type="number" required/>

                      </div>
                      <div class="input-group">
                        <label class="input-group-addon">Place :</label>
                        <input class="form-control ng-dirty" name="place" ng-model="raceReviewCtrl.race.place" type="text" required/>
                      </div>
                      <div class="input-group">
                        <label class="input-group-addon">Start Point :</label>
                        <input class="form-control" name="startPoint" ng-model="raceReviewCtrl.race.startPoint" type="text" />
                      </div>
                      <div class="input-group">
                        <label class="input-group-addon" for="start_registration">Open Registration :</label>
                        <input name="start_registration" class="form-control ng-dirty"  uib-datepicker-popup="{{format}}" data-ng-model="raceReviewCtrl.race.start_registration"  is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        <label class="input-group-addon" for="end_registration">Close Registration :</label>
                        <input name="end_registration" class="form-control ng-dirty"  uib-datepicker-popup="{{format}}" data-ng-model="raceReviewCtrl.race.end_registration"  is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                      </div>
                      <div class="input-group">
                        <label class="input-group-addon">Organiser :</label>
                        <input class="form-control ng-dirty" name="organiser" ng-model="raceReviewCtrl.race.organiser" type="text" required/>
                      </div>
                      <input type="submit" value="Submit" />
                    </form>
                  </div>
              </div>

          </div>
        </div>
  </div>
</div>
