.container {
    background-color: transparent;
}

.header {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: lightblue;
}

th {
  background-color: lightblue;
  color: white;
  text-align: center;
}

nav.navbar-default {
  background-color: transparent;
  border-color: transparent !important;
  margin-bottom: 0px;
}

.navbar-default .navbar-collapse {
  border-color: transparent !important;
}

div.navbar-collapse.collapse {
	display: block;
	overflow: hidden;
	max-height: 0px;
	-webkit-transition: max-height .3s ease;
	-moz-transition: max-height .3s ease;
	-o-transition: max-height .3s ease;
	transition: max-height .3s ease;
}

div.navbar-collapse.collapse.in {
	max-height: 2000px;
  background-color: transparent;
  border-color: transparent;
}
li > a {
  font-weight: bold;
}

tr.group,
tr.group:hover {
    background-color: #ddd !important;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}
.ng-valid.ng-dirty {
    border-color: #78FA89;
}

label.input-group-addon {
    min-width: 150px;
    text-align: left !important;
}
