.navbar .container {
    background-color: lightblue;
}

th {
    background-color: lightblue;
    color: white;
    text-align: center;
}

tr.group,
tr.group:hover {
    background-color: #ddd !important;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}
!
.ng-valid.ng-dirty {
    border-color: #78FA89;
}
.typeahead-demo .custom-popup-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  background-color: #f9f9f9;
}

.typeahead-demo .custom-popup-wrapper > .message {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  color: #868686;
}

.typeahead-demo .custom-popup-wrapper > .dropdown-menu {
  position: static;
  float: none;
  display: block;
  min-width: 160px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

label.input-group-addon {
    min-width: 150px;
    text-align: left !important;
}
