<div class="container">
  <div id="app-container">
    <pageheader></pageheader>
      <div id="body-container">
        <div class="main-view">
          <div class="text-center" id="Warnings">
            <span class="bg-warning" id="CookiesDisabled" style="display: none;">
              <i>Your browser is preventing cookies being set. Cookies will be needed to register with an event.</i>
            </span>
          </div>
          <div>
            <h2>Welcome to RacePass</h2>
            <p>Register for your sporting events and allow your participants to pay via PayPal, reducing pressure and administration anxiety on the day of your event. Registration is quick and simple and receipts provided for all transactions. </p>
          </div>
          <div ui-view>
          </div>
          <footer></footer>
        </div>
      </div>
  </div>
</div>
