<div class="conter-wrapper">
  <div class="container-fluid home-page col-md-12">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Racers</h3>
      </div>
      <div class="panel-body">
        <table class="table-bordered table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Day of Bird</th>
            <th>Club</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="racer in racers">
            <td>{{racer.name}}</td>
            <td>{{racer.surname}}</td>
            <td>{{racer.day_of_birth | date}}</td>
            <td><a ui-sref="/club/{{racer.id}}">{{racer.club.name}}</a></td>
            <td>
              <button type="button"
                      class="btn btn-info btn-circle btn-lg"
                      ng-click="editRacer(racer)">
                <i class="fa fa-edit"></i>
              </button>
              <button type="button"
                      class="btn btn-danger btn-circle btn-lg"
                      ng-click="deleteRacer(racer)">
                <i class="fa fa-trash-o"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
        <button type="button"
                class="btn btn-primary btn-circle btn-lg"
                ng-click="createRacer()">
          <i class="fa fa-cube"></i>
        </button>
      </div>
    </div>
  </div>
  <div>
    <script type="text/ng-template" id="confirmDeleteRacer.html">
      <div class="modal-header">
        <h3 class="modal-title">{{ title }}</h3>
      </div>
      <div class="modal-body">
        <div class="high-padding text-center">{{ text }}</div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default btn-rounded" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary btn-rounded" ng-click="ok()">Ok</button>
      </div>
    </script>
    <script type="text/ng-template" id="editRacer.html">
      <div class="modal-header">
        <h3 class="modal-title">{{ title }}</h3>
      </div>
      <div class="modal-body">
        <div class="panel panel-info">
          <div class="panel-body">
            <form name="formRacer" novalidate>
              <div class="form-group">
                <div class="input-group">
                  <label ng-form="racerName">Name</label>
                  <input type="text"
                         class="form-control"
                         name="racerName"
                         placeholder="Enter racer name"
                         ng-model="item.name"
                         ng-required="true">
                  <div ng-show="formRacer.$submitted || formRacer.racerName.$touched">
                    <div ng-show="formRacer.racerName.$error.required">Please, can you tell the racer name?.</div>
                  </div>
                </div>
                <div class="input-group">
                  <label ng-form="racerName">Surname</label>
                  <input type="text"
                         class="form-control"
                         name="racerSurname"
                         placeholder="Enter racer surname"
                         ng-model="item.surname"
                         ng-required="true">
                  <div ng-show="formRacer.$submitted || formRacer.racerSurname.$touched">
                    <div ng-show="formRacer.racerSurname.$error.required">Please, can you tell the racer surname?.</div>
                  </div>
                </div>
                <div class="input-group">
                  <label ng-form="raceLocation">Location</label>
                  <input type="text"
                         class="form-control"
                         name="raceLocation"
                         placeholder="Enter race location"
                         ng-model="item.location"
                         ng-required="true">
                  <div ng-show="formRace.$submitted || formRace.raceLocation.$touched">
                    <div ng-show="formRace.raceLocation.$error.required">Please, can you tell the race location?.</div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <label class="input-group-addon" ng-form="raceClub">Organiser Club :</label>
                    <input type="text" name="raceClub" ng-model="item.club"
                           placeholder="Organiser Club"
                           uib-typeahead="club as club.name for clubs in getClubs($viewValue)"
                           class="form-control"
                           ng-required="true"
                           typeahead-min-length="3"
                           typeahead-loading="loadingClubs">
                    <i ng-show="loadingClubs" class="input-group-addon glyphicon glyphicon-refresh"></i>
                  </div>
                </div>
                <div class="input-group">
                  <label ng-form="dob">Day of Birth</label>
                  <input name="dob"
                         class="form-control ng-dirty"
                         uib-datepicker-popup="{{format}}"
                         data-ng-model="formRacer.day_of_birth"
                         is-open="popup1.opened"
                         datepicker-options="dateOptions"
                         ng-required="true"
                         close-text="Close"
                         alt-input-formats="altInputFormats"/>
                  <span class="input-group-btn">
                          <button type="button"
                                  class="btn btn-default"
                                  ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-rounded" ng-click="cancel()">Cancel </button>
        <button type="button" class="btn btn-primary btn-rounded" ng-disabled="formRacer.$invalid" ng-click="ok()">Ok</button>
      </div>
    </script>
  </div>
</div>

